html{
margin:0;
padding:0;
width: 100%;
height: 100%
}

body{
margin:0;
padding: 0;
width:100%;
height:100%;
font-family: sans-serif;
background: #34495e;
}

/* Header */
#mainHeader{
	height: 70px;
	width: 100%;
	background-color:  #303952;
}

#logo{
	display:block;
	float:left;
	margin-left: 75px;
}
#logo a{
	text-decoration: none;
	font-size: 30px;
	color: white;
}

#navBar{
	float:right;
	margin-right: 60px;
	overflow: hidden;
}
#navBar ul{
	list-style: none;
	margin-top: 20px;
	padding: 0px;
}
#navBar li{
	display: inline;
}
#navBar a{
	text-decoration: none;
	font-size: 20px;
	padding-right:30px; 
	color:white;
}

#navBar a:hover{
	color: #2bcbba;
}
/*Fin de header*/

.box{
width: 300px;
padding: 40px;
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
background: #191919;
text-align: center;
}

#lbTitle{
color: white;
text-transform: uppercase;
font-weight: 500;
margin-bottom: 50px;
}

.inp{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
color:white;
border-radius: 24px;
transition: 0.25s;
}


.inp:hover {
width: 280px;
border-color: #2ecc71;
}

.inp:focus {
width: 280px;
border-color: #2ecc71;
}

.bt{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 14px 40px;
outline: none;
color:white;
border-radius: 24px;
transition: 1s;
cursor: pointer;
}

.bt:hover{
background: #2ecc71;
}

#lbRegistroNuevo{
color: white;
}